<p id="booklistitem_coponent.html.erb_p" style="color: green"><%= helpers.notice %></p>
<turbo-frameg dom_id(@proxy) >
    <div class="col-sm"><%= @proxy.id %></div>
    <div class="col-sm"><%= @proxy.totalID %></div>
</turbo-frame>
