<% content_for :title, "Editing shape" %>

<h1>Editing shape</h1>

<%= render "form", shape: @shape %>

<br>

<div>
  <%= link_to "Show this shape", @shape %> |
  <%= link_to "Back to shapes", shapes_path %>
</div>
