<h1>Editing calibrelist</h1>

<%= render "form", calibrelist: @calibrelist %>

<br>

<div>
  <%= link_to "Show this calibrelist", @calibrelist %> |
  <%= link_to "Back to calibrelists", calibrelists_path %>
</div>
