<h1>Editing readinglist</h1>

<%= render "form", readinglist: @readinglist %>

<br>

<div>
  <%= link_to "Show this readinglist", @readinglist %> |
  <%= link_to "Back to readinglists", readinglists_path %>
</div>
