<p style="color: green"><%= notice %></p>

<h1>Readinglists</h1>

<div id="readinglists">
  <%= render TblComponent.new(name: rl.name, header: rl.header, body: rl.body) %>

  <%= paginate paginatex %>
</div>

<%= link_to "New readinglist", new_readinglist_path %>
