        <div class="col-4 d-flex justify-content-end">
         <%= link_to icon_with_text("plus-circle", "登録"),
                     new_kindlelist_path,
                     class: "btn btn-outline-primary"
         %>
       </div>
