<h1>Editing kindlelist</h1>

<%= render "form", kindlelist: @kindlelist %>

<br>

<div>
  <%= link_to "Show this kindlelist", @kindlelist %> |
  <%= link_to "Back to kindlelists", kindlelists_path %>
</div>
