<% content_for :title, "Editing bookstore" %>

<h1>Editing bookstore</h1>

<%= render "form", bookstore: @bookstore %>

<br>

<div>
  <%= link_to "Show this bookstore", @bookstore %> |
  <%= link_to "Back to bookstores", bookstores_path %>
</div>
